label {
    margin-bottom: 0;
}

.controls {
    margin-bottom: 32px;
}

.ground {
    padding: 7px;
}

.menu-wrapper {
    position: relative;
    display: inline-block;
    margin: 8px;
}

.form-control {
    font-weight: normal;
    /*ac*/
}
