label {
    margin-bottom: 0;
}

.controls {
    margin-bottom: 32px;
}

.ground {
    padding: 7px;
}

.menu-wrapper,
.elmenu-wrapper,
.elgrandmenu-wrapper {
    position: relative;
    display: inline-block;
}

.form-control {
    font-weight: normal;
}


.btn {
    outline: none !important;
}